body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #800000;
            color: white;
            text-align: center;
            padding: 20px;
        }
        h2 {
            background-color: hsl(0, 31%, 47%);
            padding: 10px;
            border-left: 4px solid #800000;
        }
        .section {
            width: 80%;
            background: white;
            margin: 20px auto;
            padding: 20px;
            border-radius: 6px;
        }
        .cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-gap: 20px;
            margin-top: 20px;
        }
        .card {
            background: #ffffff;
            padding: 15px;
            border-radius: 8px;
            box-shadow: 0 3px 8px rgba(0,0,0,0.1);
            transition: 0.3s;
        }
        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 18px rgba(0,0,0,0.2);
        }
        .card a {
            text-decoration: none;
            color: #800000;
            font-weight: bold;
        }
        .card a:hover {
            color: black;
        }
        footer {
            background-color: #800000;
            color: white;
            text-align: center;
            padding: 10px;
            margin-top: 30px;
        }