
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Government Schemes Information (Health Related)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/government_schemes.css' )}}">
</head>
<body>
<header>
    <h1>Government Schemes Information Portal</h1>
    <p>This page provides Health Related Central and State Government Schemes.</p>
</header>

<div class="section">
    <h2>Central Government Health Schemes</h2>
    <div class="cards">
        <div class="card">
            <h3>Ayushman Bharat Yojana</h3>
            <p>Provides health insurance up to ₹5 Lakhs per family per year.</p>
            <a href="https://pmjay.gov.in/" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Jan Aushadhi Yojana</h3>
            <p>Provides affordable generic medicines through Jan Aushadhi Kendras.</p>
            <a href="https://janaushadhi.gov.in/" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>National Digital Health Mission</h3>
            <p>Provides a digital health ID and online health records.</p>
            <a href="https://abdm.gov.in/" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>PM National Dialysis Programme</h3>
            <p>Free dialysis services for poor patients in government hospitals.</p>
            <a href="https://nhm.gov.in/" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Pradhan Mantri Suraksha Bima Yojana(PMSBY)</h3>
            <p>Provides low-cost accident insurance coverage up to ₹2 lakh.</p>
            <a href="https://financialservices.gov.in/beta/en/pmsby" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Employees' State Insurance Scheme (ESIC)</h3>
            <p>Provides medical and financial support to workers during illness or injury.</p>
            <a href="https://esic.gov.in/" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Central Government Health Scheme (CGHS)</h3>
            <p>Provides medical services to central government employees and pensioners.</p>
            <a href="https://services.india.gov.in/service/detail/central-government-health-scheme-cghs#:~:text=The%20Central%20Government%20Health%20Scheme%20%28CGHS%29%20provides%20comprehensive,to%20Central%20Government%20employees%2C%20pensioners%2C%20and%20their%20dependents." target="_blank">Visit Website</a>
        </div>
         <div class="card">
            <h3>Universal Health Insurance Scheme (UHIS)</h3>
            <p>Provides basic health insurance coverage for low-income families.</p>
            <a href="https://www.indiafilings.com/learn/universal-health-insurance-scheme-uhis/" target="_blank">Visit Website</a>
        </div>
        
    </div>
</div>

<div class="section">
    <h2>State Government Health Schemes</h2>
    <div class="cards">
        <div class="card">
            <h3>Mahatma Jyotiba Phule Jan Arogya Yojana (Maharashtra)</h3>
            <p>Cashless treatment for major diseases in empaneled hospitals.</p>
            <a href="https://www.jeevandayee.gov.in/" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Arogya Karnataka</h3>
            <p>Free and subsidized treatment for eligible citizens.</p>
            <a href="https://arogya.karnataka.gov.in" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>eSanjeevani Telemedicine Service</h3>
            <p>Free online doctor consultation nationwide.</p>
            <a href="https://esanjeevani.mohfw.gov.in/" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Yeshasvini Health Insurance Scheme</h3>
            <p>Provides affordable cashless medical treatment for cooperative society members in Karnataka.</p>
            <a href="https://www.policybazaar.com/health-insurance/govt-scheme/yeshasvini/" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Mukhyamantri Amrutum (MA) Yojana</h3>
            <p>Provides free health insurance coverage for low-income families in Gujarat.</p>
            <a href="https://ma.gujarat.gov.in/index.html" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Karunya Arogya Suraksha Padhathi (KASP)</h3>
            <p>Provides free health insurance coverage for eligible families in Kerala</p>
            <a href="https://sha.kerala.gov.in/?page_id=110&lang=en" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Dr YSR Aarogyasri Health Scheme</h3>
            <p>Provides free medical treatment for low-income families in Andhra Pradesh.</p>
            <a href="https://www.starhealth.in/health-insurance/dr-ysr-aarogyasri-health-scheme/" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Bhamashah Swasthya Bima Yojana (BSBY)</h3>
            <p>Provides free and cashless medical treatment for eligible families in Rajasthan.</p>
            <a href="https://govtschemes.org/bhamashah-yojana-2025/" target="_blank">Visit Website</a>
        </div>
    </div>
</div>

<div class="section">
    <h2>Essential welfare services by state  Government </h2>
    <div class="cards">
        <div class="card">
            <h3>Old Age Assistance Scheme (Delhi)</h3>
            <p>Financial assistance to elderly in NCT of Delhi</p>
            <a href="https://socialwelfare.delhi.gov.in/social/financials-assistance-schemes" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>National Social Assistance Scheme (Maharashtra)</h3>
            <p>Pensions & assistance for elderly/disabled in Maharashtra. </p>
            <a href="https://www.satara.gov.in/en/national-social-assistance-scheme/" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Cash Award Scheme for Scheduled Caste Students (Haryana)</h3>
            <p>Provides financial incentives to support education of SC students.</p>
            <a href="https://dbtharyana.gov.in/scheme/schemelist" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Free Bicycle Scheme for SC Students (Haryana) - </h3>
            <p>Provides free bicycles to SC students to support their education.</p>
            <a href="https://dbtharyana.gov.in/scheme/schemelist" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Educational Schemes -  Haryana State</h3>
            <p>Offers various programs to support education and skill development in the state.</p>
            <a href="https://haryanascbc.gov.in/servicesschemescitizen-schemes/educational-schemes" target="_blank">Visit Website</a>
        </div>

    </div>
</div>

<div class="section">
    <h2>Essential welafare services by central Government </h2>
    <div class="cards">
        <div class="card">
            <h3>Pradhan Mantri Vidya Lakshmi (PM-Vidyalakshmi) Scheme </h3>
            <p> It provide Portal & guidelines for student loans/scholarships</p>
            <a href="https://www.education.gov.in/scholarships-education-loan-4-hi" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Central Sector Interest Subsidy Scheme (CSIS) (for education loans)</h3>
            <p>Provides interest subsidy on education loans for eligible students.</p>
            <a href="https://www.education.gov.in/scholarships-education-loan-4-hi" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Pradhan Mantri Jan Dhan Yojana (PMJDY) </h3>
            <p>It will provide Basic banking access, financial inclusion.  </p>
            <a href=" https://pmjdy.gov.in/" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3> Atal Pension Yojana (APY)</h3>
            <p> It will provide  Pension scheme for unorganised sector</p>
            <a href="https://financialservices.gov.in/beta/en/schemes-overview" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Stand Up India Scheme </h3>
            <p> Provide Loans for SC/ST & women entrepreneurs</p>
            <a href="https://financialservices.gov.in/beta/en/schemes-overview" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Pradhan Mantri SVANidhi Scheme </h3>
            <p> Provide Micro-credit for street vendors</p>
            <a href="https://pmsvanidhi.mohua.gov.in/" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Pradhan Mantri Jeevan Jyoti Bima Yojana (PMJJBY)</h3>
            <p>Life insurance cover scheme</p>
            <a href="https://jansuraksha.gov.in/" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Pradhan Mantri Jeevan Jyoti Bima Yojana (PMJJBY)</h3>
            <p>Life insurance cover scheme</p>
            <a href="https://jansuraksha.gov.in/" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Pradhan Mantri Mudra Yojana (PMMY)</h3>
            <p>Loans for micro-businesses</p>
            <a href="https://financialservices.gov.in/beta/en/schemes-overview" target="_blank">Visit Website</a>
        </div>
            
    </div>
</div>

<div class="section">
    <h2>Essential Food Schemes by state  Government  </h2>
    <div class="cards">
        <div class="card">
            <h3>Annapurna Bhojanalaya Yojana - Uttar Pradesh</h3>
            <p>It provide low-cost food for poor & labourers</p>
            <a href="https://fcs.up.gov.in" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Mukhyamantri Dal Bhat Yojana - Jharkhand </h3>
            <p>It provide meals at ₹5 through canteens for poor</p>
            <a href="https://aahar.jharkhand.gov.in" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Anna Canteen Scheme - Andhra Pradesh</h3>
            <p> It provide subsidised meals at ₹5 for poor</p>
            <a href="https://pongurunarayana.com/anna-canteen-initiative-relaunched-across-andhra-pradesh/" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Amma Unavagam (Amma Canteen) - Tamil Nadu </h3>
            <p>It provide highly subsidised nutritious meals</p>
            <a href=" https://www.tn.gov.in" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Indira Rasoi Yojana - Rajasthan</h3>
            <p> It provide subsidised cooked meals at ₹8 for poor & needy</p>
            <a href="https://food.rajasthan.gov.in" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Aam Aadmi Canteen Scheme - Delhi</h3>
            <p> It provide subsidised cooked food in various city areas</p>
            <a href="https://delhi.gov.in" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Aahar Scheme - Odisha </h3>
            <p> It provide hot cooked meals at ₹5 for low-income groups</p>
            <a href="https://pmujjwalayojana.in/aahar-yojana/" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Indira Canteen Scheme - Karnataka</h3>
            <p> It provide subsidised breakfast, lunch & dinner</p>
            <a href="https://karnataka.gov.in" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Khadya Sathi Scheme - West Bengal</h3>
            <p>It provide 5 kg rice or wheat at ₹2/kg or free for eligible families </p>
            <a href="https://food.wb.gov.in" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Shiv Bhojan Thali Scheme - Maharashtra</h3>
            <p> It provide  subsidised thali meal for ₹10</p>
            <a href="https://maharashtra.gov.in" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Deendayal Rasoi Yojana - Madhya Pradesh</h3>
            <p> It provide low-cost cooked meals for urban poor</p>
            <a href=" https://mp.gov.in" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Chief Ministers Food Security Scheme (Mukhyamantri Khady Suraksha Yojana) - Chattisgarh</h3>
            <p> It provide free rice/wheat for BPL families</p>
            <a href="https://dakshinkosal.com/chief-minister-food-aid-scheme/" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Dal Bhaat Kendras - Bihar</h3>
            <p> It provide subsidised meal for needy persons at ₹5</p>
            <a href="https://dbtagriculture.bihar.gov.in/" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Aarogya Lakshmi scheme</h3>
            <p>Provides nutritional meals to pregnant women, lactating mothers, and young children.</p>
            <a href="https://pmujjwalayojana.in/arogya-lakshmi-scheme-benefits-features/" target="_blank">Visit Website</a>
        </div>
    </div>
</div>

<div class="section">
    <h2>Essential Food Schemes by Central  Government </h2>
    <div class="cards">
        <div class="card">
            <h3>Pradhan Mantri Garib Kalyan Anna Yojana (PMGKAY)</h3>
            <p>Provides free or subsidized food grains to support vulnerable populations.</p>
            <a href="https://www.drishtiias.com/daily-updates/daily-news-analysis/pradhan-mantri-garib-kalyan-anna-yojana-pmgkay" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3> Naional Food Security Act (NFSA), 2013</h3>
            <p>Ensures access to subsidized food grains for eligible students </p>
            <a href="https://nfsa.gov.in" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3> Antyodaya Anna Yojana (AAY)</h3>
            <p> Provide highly subsidized food grains to poorest families </p>
            <a href="https://dfpd.gov.in/aay" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>4. Annapurna Scheme (for senior citizens not under pension) </h3>
            <p> Provides free food grains to senior citizens not receiving a pension.</p>
            <a href="https://advocategandhi.com/government-schemes-for-senior-citizens-in-india-a-complete-guide-to-financial-security-and-dignified-living-2025-update/" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Mid-Day Meal Scheme (now PM POSHAN)</h3>
            <p> It provide free meals to school children (class I - VIII)</p>
            <a href="https://pmposhan.education.gov.in" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Integrated Child Development Services (ICDS)</h3>
            <p>It provide food, nutrition & health services for children & mothers</p>
            <a href="https://www.icdsup.net/" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Supplementary Nutrition Programme (SNP)</h3>
            <p>It provide part of ICDS for pregnant women, lactating mothers & children</p>
            <a href="https://wcd.odisha.gov.in/ICDS/supplementary-nutrition-programme" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Targeted Public Distribution System (TPDS) </h3>
            <p>It provide distribution of subsidised grains via ration shops</p>
            <a href="https://www.insightsonindia.com/agriculture/public-distribution-system/functioning-fair-price-shops-fci-ration-cards-aadhar-linking-etc/targeted-public-distribution-system/" target="_blank">Visit Website</a>
        </div>
    </div>
</div>


<div class="section">
    <h2>Government Services Desk </h2>
    <div class="cards">
        <div class="card">
            <h3>UIDAI - Aadhaar Services</h3>
            <p>Provides identity enrollment and update services for residents.</p>
            <a href="https://uidai.gov.in/" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>PAN - Permanent Account Number (Income Tax Department)</h3>
            <p>Unique identification number used for financial and tax-related activities.</p>
            <a href="https://incometaxindia.gov.in/Pages/tax-services/apply-for-pan.aspx" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Kisan Credit Card (KCC) Scheme</h3>
            <p>Offers farmers easy and affordable credit for agricultural needs.</p>
            <a href="https://pmkisan.gov.in/Documents/KCC.pdf" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>PM Kisan Samman Nidhi (PM-KISAN)</h3>
            <p>Provides direct financial support to eligible farmers.</p>
            <a href=" https://pmkisan.gov.in" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>IRCTC - Train Ticket Booking</h3>
            <p>Online platform to book and manage train tickets.</p>
            <a href="https://www.irctc.co.in/" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Digital India Initiative</h3>
            <p>Promotes online access to government services and digital empowerment.</p>
            <a href="https://www.digitalindia.gov.in/" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Civil Registration System (CRS) Portal</h3>
            <p>The national portal for registration of births and deaths across the States/UTs.</p>
            <a href="https://dc.crsorgi.gov.in/crs/?utm_source=chatgpt.com" target="_blank">Visit Website</a>
        </div>
        <div class="card">
            <h3>Food Safety and Standards Authority of India (FSSAI) Licence/Registration</h3>
            <p>Regulates and ensures the safety and quality of food products.</p>
            <a href="https://foscos.fssai.gov.in/apply-for-lic-and-reg" target="_blank">Visit Website</a>
        </div>
    </div>
</div>


<footer>
    © 2025 Government Information Portal | Made for Educational Use
</footer>
</body>
</html>